/* Josh Comeau's CSS Reset */
*,::after,::before{box-sizing:border-box}*{margin:0}body{line-height:1.5;-webkit-font-smoothing:antialiased}canvas,img,picture,svg,video{display:block;max-width:100%}button,input,select,textarea{font:inherit}h1,h2,h3,h4,h5,h6,p{overflow-wrap:break-word}#__next,#root{isolation:isolate}

/* Global styles */
html {
  font-size: 16px;
}

*,
*:before,
*:after {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

:root {
  --layout-page-margin: 32px;
  --layout-grid-columns: 12;
  --layout-grid-column-gap: 24px;
  --layout-grid-row-gap: 24px;

  --spacing-01: 2px;
  --spacing-02: 4px;
  --spacing-03: 8px;
  --spacing-04: 12px;
  --spacing-05: 16px;
  --spacing-06: 24px;
  --spacing-07: 32px;
  --spacing-08: 40px;
  --spacing-09: 48px;
  --spacing-10: 64px;
  --spacing-11: 80px;
  --spacing-12: 96px;
  --spacing-13: 160px;

  --duration-short: .15s;
  --duration-normal: .25s;
  --duration-long: .65s;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative;
}

li + li {
  margin-top: var(--spacing-02);
}

li::before {
  content: '';
  position: absolute;
  width: .25em;
  height: .25em;
  border-radius: .1em;
  background: currentColor;
  left: -1em;
  top: 50%;
  transform: translateY(-50%);
}