.introWrapper {
  padding-top: var(--spacing-12);
  display: grid;
  grid-template-areas:
    "text text text text . . assoc assoc . . . . ";
  margin-left: var(--layout-page-margin);
  margin-right: var(--layout-page-margin);
  grid-template-columns: repeat(var(--layout-grid-columns), minmax(0, 1fr));
  column-gap: var(--layout-grid-column-gap);
  row-gap: var(--layout-grid-row-gap);
  align-items: end;
  padding-bottom: var(--spacing-08);
  border-bottom: var(--border);
}

@media screen and (max-width: 62.5rem) {
  .introWrapper {
    grid-template-areas:
      "text text text text assoc assoc"
  }
}

.text {
  grid-area: text;
  max-width: 52ch;
}

.assoc {
  grid-area: assoc;
}

.assocTitle {
  font-size: var(--font-size-body);
  margin-bottom: var(--spacing-04);
  color: var(--color-neutral-600);
}